/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */


/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@300&display=swap');

:root {
    --main-color: #0aad0a;
    --light-color: #f0f3f2;
    --shadow: rgba(145, 158, 171, .2) 0px 2px 4px -1px, rgba(145, 158, 171, .14) 0px 4px 5px 0px, rgba(145, 158, 171, .12) 0px 1px 10px 0px;
    --font-family: 'Encode Sans Expanded', sans-serif;
    --rating-color: #ffc908;
    --favorite-placeholder-color: #bdbdbd;
    --favorite-color: #dc3545;

    --pagination-color: #0aad0a;
    --pagination-hover-color: #ffffff;
}

body {
    font-family: var(--font-family) !important;
}

.border-main {
    border: 1px solid var(--main-color) !important;
}

.rating-color {
    color: var(--rating-color);
}

.cursor-pointer {
    cursor: pointer;
}

a, a:hover {
    color: black;
    text-decoration: none;
}

.product:hover {
    box-shadow: var(--shadow);
    border: solid 1px var(--main-color);
}

.product .btn {
    transition: transform 0.8s, opacity 0.8s;
    transform: translateY(100%);
    opacity: 0;
}

.product:hover .btn {
    opacity: 1;
    transform: translateY(0%);

}

.font-sm {
    font-size: 14px;
}

.text-main {
    color: var(--main-color);
}

.bg-main {
    background-color: var(--main-color) !important;
}

.bg-main-light {
    background-color: var(--light-color) !important;
}


.offline {
    background-color: #faf8f8;
    box-shadow: var(--shadow);
    color: black;
    border-radius: 10px;
    font-weight: bold;
    padding: 20px;
    position: fixed;
    left: 50px;
    bottom: 50px;
    z-index: 999;
}


.bg-pattern-img {
    background-repeat: repeat;
    /* background-size: cover; */
}

.footer {
    background: var(--light-color);
}

.line-break {
    margin: 25px 0;
    height: 1px;
    background: #d5d5d5;
}

.slide-box {
    box-shadow: var(--shadow) !important;
}

.slide-box:hover {
    border-bottom: var(--main-color) 3px solid !important;
    transform: translateY(-10px) !important;
}

.category-slider:hover {
    border-bottom: var(--main-color) 3px solid !important;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    font-size: 18px;
    height: auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px 15px;
}

.slick-prev:before,
.slick-next:before {
    color: var(--main-color);
}

.heart-remove {
    color: var(--main-color);
}

.heart-remove:hover {
    color: var(--favorite-color) !important;
}



.heart:hover {
    /* box-shadow: var(--shadow) !important; */
}

.element {
    transition: all 0.5s;
}

.element:hover {
    transform: translateY(-10px);
}


.product-order-name:hover {
    color: var(--main-color);
}

@media screen and (max-width: 900px) {
    .drop-down-order{ 
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .main-img-slide{
        height: 250px;
    }
    nav .badge {
        right: auto !important;
    }
    
    .product .btn {
        transform: translateY(0%);
        opacity: 1;
    }
}

@media screen and (max-width: 480px) {
    .category-img-slide {
        height: 300px;
    }
}